<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <title>Weather App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/weather-app.png') }}" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/c4aebab872.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body oncontextmenu="return false">
<div class="form">
    {% with message = get_flashed_messages() %}
        {% if message %}
            <div class="alert alert-primary" role="alert">
                {{ message[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form action="/add" method="POST" id="#input-form">
        <select class="dropdown" name="units">
            <option name="Celsius" value="metric"> Celsius</option>
            <option name="Fahrenheit" value="imperial"> Fahrenheit</option>
            <option name="Kelvin" value="standard"> Kelvin</option>
        </select>
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
{#<div class="circle1" id="login">#}
{#    <p><i class="fas fa-user"></i></p>#}
{#    <div id="field">#}
{#        <form action="/reg" method="POST">#}
{#            <input type="text" placeholder="Login" id="log" name="login">#}
{#            <input type="password" placeholder="Password" id="password" name="password">#}
{#            {% if counties is defined %}#}
{#                <select class="dropdown" name="country">#}
{#                    {% for country in counties %}#}
{#                        <option value="{{ country[0] }}">{{ country[1] }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            {% endif %}#}
{#            <button type="submit" id="enter">Login</button>#}
{#        </form>#}
{#    </div>#}
{#    <script src="/static/index.js"></script>#}
{#</div>#}
<div class="cards">
    {% if weather is defined %}
        {% for city in weather %}
            <div class="
                        {% if (6 <= city['time'] <= 10) %}
                            card morning
                        {% elif (10 < city['time'] < 17) %}
                            card day
                        {% elif (17 <= city['time'] <= 21) %}
                            card evening
                        {% else %}
                            card night
                        {% endif %}"
            >
                <div class="inner-card">
                    <div class="front">
                        <div class="delete-wrapper">
                            <form action="/delete/{{ city.id }}" method="POST">
                                <input type="hidden" name="id" value="{{ city.id }}}">
                                <button class="delete-button" type="submit">&#10006;</button>
                            </form>
                        </div>
                        <div class="city">{{ city.name }}</div>
                        <div class="date">{{ city.date }}</div>
                        <div class="degrees"><span> {{ city.temp }} <span class="celsius">
                            {% if city.units == "metric" %}
                                °C
                            {% elif city.units == "imperial" %}
                                °F
                            {% else %}
                                °K
                            {% endif %}
                            </span></span></div>
                        {% if  city['state'] == 'Ash' %}
                            <img src="/static/img/ash.png" alt="">
                        {% elif city['state'] == 'Clear' %}
                            {% if (6 <= city['time'] <= 21) %}
                                <img src="/static/img/clear.svg" alt="">
                            {% else %}
                                <img src="/static/img/night/clear.svg" alt="">
                            {% endif %}
                        {% elif city['state'] in ['Clouds', 'Squall'] %}
                            {% if city['desc'] == 'few clouds' %}
                                {% if (6 <= city['time'] <= 21) %}
                                    <img src="/static/img/few-clouds.svg" alt="">
                                {% else %}
                                    <img src="/static/img/night/few-clouds.svg" alt="">
                                {% endif %}
                            {% else %}
                                {% if (6 <= city['time'] <= 10) or (17 <= city['time'] <= 21) %}
                                    <img src="/static/img/evening-morning/clouds.svg" alt="">
                                {% elif (10 < city['time'] < 17) %}
                                    <img src="/static/img/day/clouds.svg" alt="">
                                {% else %}
                                    <img src="/static/img/night/clouds.svg" alt="">
                                {% endif %}
                            {% endif %}
                        {% elif city['state'] == 'Drizzle' %}
                            <img src="/static/img/drizzle.svg" alt="">
                        {% elif city['state'] == 'Dust' %}
                            <img src="/static/img/dust.svg" alt="">
                        {% elif (city['state'] in ['Fog', 'Mist', 'Haze']) %}
                            <img src="/static/img/mist.svg" alt="">
                        {% elif city['state'] == 'Rain' %}
                            {% if (6 <= city['time'] <= 10) or (17 <= city['time'] <= 21) %}
                                <img src="/static/img/evening-morning/rain.svg" alt="">
                            {% elif (10 < city['time'] < 17) %}
                                <img src="/static/img/day/rain.svg" alt="">
                            {% else %}
                                <img src="/static/img/night/rain.svg" alt="">
                            {% endif %}
                        {% elif city['state'] == 'Sand' %}
                            <img src="/static/img/sand.png" alt="">
                        {% elif city['state'] == 'Snow' %}
                            {% if (6 <= city['time'] <= 10) or (17 <= city['time'] <= 21) %}
                                <img src="/static/img/evening-morning/snow.svg" alt="">
                            {% elif (10 < city['time'] < 17) %}
                                <img src="/static/img/day/snow.svg" alt="">
                            {% else %}
                                <img src="/static/img/night/snow.svg" alt="">
                            {% endif %}
                        {% elif city['state'] == 'Smoke' %}
                            <img src="/static/img/smoke.png" alt="">
                        {% elif city['state'] == 'Tornado' %}
                            <img src="/static/img/tornado.svg" alt="">
                        {% elif city['state'] == 'Thunderstorm' %}
                            <img src="/static/img/thunderstorm.svg" alt="">
                        {% endif %}
                        <div class="state">{{ city.state }}</div>
                        <div class="time">{{ city.curTime }}</div>
                    </div>
                    <div class="back">
                        <div class="delete-wrapper">
                            <form action="/delete/{{ city.id }}" method="POST">
                                <input type="hidden" name="id" value="{{ city.id }}}">
                                <button class="delete-button" type="submit">&#10006;</button>
                            </form>
                        </div>
                        <div class="info">
                            <img src="/static/img/wind.svg" alt="">
                            <img src="/static/img/humidity.svg" alt="">
                            <img src="/static/img/pressure.svg" alt="">
                            <img src="/static/img/precipitation.svg" alt="">
                            <div class="wind"> {{ city.wind }} m/s</div>
                            <div class="humidity"> {{ city.humidity }} %</div>
                            <div class="pressure"> {{ city.pressure }} </div>
                            <div class="precipitation"> {{ city.precipitation }} %</div>
                        </div>
                        <table class="charts-css column show-heading show-labels" id="chart">
                            <caption>7 days forecast</caption>
                            <tbody>
                            {% for day in city.days %}
                                {% set name = city.names[loop.index - 1] %}
                                {% set d_temp = city.tooltip[0][loop.index - 1] %}
                                {% set n_temp = city.tooltip[1][loop.index - 1] %}
                                {% set d_feel = city.tooltip[2][loop.index - 1] %}
                                {% set n_feel = city.tooltip[3][loop.index - 1] %}
                                <tr>
                                    <th scope="row"> {{ name }} </th>
                                    {% if city.days | positive %}
                                        {% if city.units == "metric" %}
                                            <td style="--size:{{ day/50 }}">
                                                {% elif city.units == "imperial" %}
                                            <td style="--size:{{ day/200 }}">
                                                {% else %}
                                            <td style="--size:{{ day/500 }}">
                                        {% endif %}
                                    {% else %}
                                    {% set min_temp = city.days | min %}
                                        <td style="--size:{{ (day + (min_temp * (-1) + 5))/50 }}">
                                    {% endif %}
                                    {% if city.units == "metric" %}
                                        <span class="data">{{ day }}°C</span>
                                    {% elif city.units == "imperial" %}
                                        <span class="data">{{ day }}°F</span>
                                    {% else %}
                                        <span class="data">{{ day }}°K</span>
                                    {% endif %}
                                    <span class="tooltip">
                                        {% if city.units == "metric" %}
                                            Day: {{ d_temp }}°C <br>
                                            Night: {{ n_temp }}°C <br>
                                            Feels like (day): {{ d_feel }}°C <br>
                                            Feels like (night): {{ n_feel }}°C
                                        {% elif city.units == "imperial" %}
                                            Day: {{ d_temp }}°F <br>
                                            Night: {{ n_temp }}°F <br>
                                            Feels like (day): {{ d_feel }}°F <br>
                                            Feels like (night): {{ n_feel }}°F
                                        {% else %}
                                            Day: {{ d_temp }}°K <br>
                                            Night: {{ n_temp }}°K <br>
                                            Feels like (day): {{ d_feel }}°K <br>
                                            Feels like (night): {{ n_feel }}°K
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>